body{
    display: flex;
    flex-direction: row;
}
.A {
    border: solid black;
    background-color: white;
    border-radius:20px;
    width: 320px;
    margin: auto;
    padding: 16px;
    margin-bottom: 210px;
 
}
.B{
 border-radius:10px;
 max-width: 100%;
}

h1 {
    font-size:22px;
    border: solid black;
    text-align:center;
    margin-top: 30px;
    margin-bottom: 40px;
}

p{
    font-size:15px;
    text-align:center;

}